<div class="row">
    <div class="col-6 ms-5">
        <ol class="breadcrumb">
            {{#each breadcrumb}}
            {{#if @last}}
            <li class="breadcrumb-item">{{name}}</li>
            {{else}}
            <li class="breadcrumb-item"><a href={{url}}>{{name}}</a></li>
            {{/if}}
            {{/each}}
        </ol>
    </div>
</div>