<section class="row gy-4">
    <div class="col-12">
        {{#with service}}
        <div class="text-light text-center bg-success">
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            {{#each buttons}}
            <div class="flex-column pb-4 mb-4">
                <a href="{{link}}" target="_blank" class="btn btn-primary">{{text}}</a>
            </div>

            {{/each}}
        </div>
        {{/with}}
    </div>
</section>